{% load static %}

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{% static 'js/prestadores.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/consulta.css' %}">
    {% if user.is_authenticated %}
    <title>Prestador - Pesquisa</title>
    {% else %}
    <title>Não autenticado</title>
    {% endif %}
</head>

<body>
    {% if user.is_authenticated %}
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <a href="/prestadores">
                Prestadores
            </a>
            <a href="{% url 'logout' %}">
                Log Out
            </a>
    </nav>

    <center>
        <h1>Pesquisa de Prestadores</h1>
    </center>
    <div class="container">
        <div class="row">
            <div class="panel panel-primary filterable">
                <div class="panel-heading">
                    <h3 class="panel-title">Prestadores X Especialidades</h3>
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs btn-filter"><span
                                class="glyphicon glyphicon-filter"></span> Buscar</button>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr class="filters">
                            <th><input type="text" class="form-control" placeholder="ID Prestador" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Nome Prestador" disabled></th>
                            <th><input type="text" class="form-control" placeholder="ID Especialidade" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Nome Especialidade" disabled></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
    <h1>Você não está logado</h1>
    <a href="{% url 'login' %}">login</a>
    {% endif %}
</body>