{% extends "prestadores/header.html" %}

{% block content %}

<h1>Pessoas</h1>

{% if active_persons_list %}
    <ul>
    {% for person in active_persons_list %}
            <li><a href="/prestadores/person/{{ person.id }}/">{{ person.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <h3>No persons are available.</h3>
{% endif %}

<h1>Prestadores</h1>

{% if active_suppliers_list %}
    <ul>
    {% for supplier in active_suppliers_list %}
            <li><a href="/prestadores/supplier/{{ supplier.person.id }}/">{{ supplier.person.id }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <h3>No suppliers are available.</h3>
{% endif %}

<!-- {% if active_expertise_list %}
    <ul>
    {% for supplier in active_expertise_list %}
            <li><a href="/prestadores/expertise/{{ expertise.supplier.person.id }}/">{{ expertise.supplier.person.id }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <h3>No expertises are available.</h3>
{% endif %} -->

{% endblock %}