<!-- templates/signup.html -->
<html lang="en">
  {% load static %}
  
<head>
  <title>Registrar-se</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = 'text/css' id="bootstrap-css"/>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/consulta.css' %}"> 
  <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}"> 
</head>

{% block content %}
  <h2>Registrar-se</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Registrar-se</button>
  </form>
{% endblock %}